{% extends "magazine/base.html" %}

{% block head_title %}{{ rubric.title }}{% endblock %}
{% block head_meta_title %}{{ rubric.title }}{% endblock %}
{% block head_desc %}Содержание рубрики {{ rubric.title }}{% endblock %}

{% block content %}

    <h1>{{ rubric.title }}</h1>

    <div>

    <h3>Содержание рубрики:</h3>

    <ul>
    {% for article in rubric.article_set.all %}
        <li>
            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>

            {% if article.text_set.all|length > 1 %}
                <small>стр.:[
                    {% for text in article.text_set.all %}
                        <a href="{% url "text.show" text.article.pk forloop.counter0 %}">{{ forloop.counter }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    ]</small>
            {% endif %}

            {% if article.articleimage_set.all|length > 0 %}
                <small>рис.:[
                    {% for image in article.articleimage_set.all %}
                        <a href="{% url "image.show" image.pk %}">{{ forloop.counter }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    ]</small>
            {%  endif %}

            <span class="pull-right">{{ article.page }}</span>
        </li>
    {% endfor %}
    </ul>

    </div>

{% endblock %}